<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.phone" android:versionCode="17" android:versionName="4.2.2-eng.mochangming.20140606.142948" package="com.android.providers.telephony" coreApp="true"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application android:label="@string/app_label" android:icon="@drawable/ic_launcher_phone" android:allowClearUserData="false" android:process="com.android.phone" android:allowBackup="false">
        <receiver android:name="com.android.providers.telephony.CustChangedReceiver">
            <intent-filter>
                <action android:name="com.lge.action.CUST_CHANGED_INFO" />
            </intent-filter>
        </receiver>
        <provider android:name="TelephonyProvider" android:exported="true" android:multiprocess="true" android:authorities="telephony" />
        <provider android:name="SmsProvider" android:readPermission="android.permission.READ_SMS" android:writePermission="android.permission.WRITE_SMS" android:exported="true" android:multiprocess="true" android:authorities="sms" />
        <provider android:name="MmsProvider" android:readPermission="android.permission.READ_SMS" android:writePermission="android.permission.WRITE_SMS" android:exported="true" android:multiprocess="true" android:authorities="mms">
            <grant-uri-permission android:pathPrefix="/part/" />
            <grant-uri-permission android:pathPrefix="/drm/" />
        </provider>
        <provider android:name="MmsSmsProvider" android:readPermission="android.permission.READ_SMS" android:writePermission="android.permission.WRITE_SMS" android:exported="true" android:multiprocess="true" android:authorities="mms-sms" />
        <provider android:name="EccNotiProvider" android:exported="true" android:multiprocess="true" android:authorities="ecc_notification" android:syncable="false" />
        <provider android:name="MmsUploadBpsProvider" android:readPermission="android.permission.READ_SMS" android:writePermission="android.permission.WRITE_SMS" android:exported="true" android:multiprocess="true" android:authorities="mmsuploadbps" />
        <provider android:name="LgeMmsHiddenPrefProvider" android:readPermission="android.permission.READ_SMS" android:writePermission="android.permission.WRITE_SMS" android:exported="true" android:multiprocess="true" android:authorities="mmshiddenpref" />
        <provider android:name="FirewallProvider" android:multiprocess="true" android:authorities="firewall" />
        <receiver android:name="AccountsChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_PRE_CHANGED" />
            </intent-filter>
        </receiver>
        <service android:name=".MakeMmsPreviewService" android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.MAKE_MMS_PREVIEW" />
            </intent-filter>
        </service>
    </application>
</manifest>